
body{
    margin-top: 0;
    Font-size: 18px;
    font-weight: 300, 400, 700;
    position:absolute ;
    font-family:public sans;
    background: hsl(0, 0%, 98%);
     
}
.heading{
    margin-top: 0;
    height: 50px;
    background: white;
    border-bottom: 1px solid grey;
    position: relative;
    z-index: 3;
    

}
.logo{
    margin:16px 0 16px 120px;
}
.links li a{
    text-decoration: none;
    color: hsl(220deg 2% 62%);

}
.links li a:hover{
    text-decoration: underline;
    color: lightgreen;

}
.links li{
    list-style: none;
    display: inline;
    margin: 0 10px 0 10px;
    color: hsl(220deg 2% 62%);
}
.linking{
    margin: -60px 0 0 450px;
}
.link_ing{
    float:right;
    margin: -42px 220px 0 0;
}
/* .img-wrapper {
    z-index: -2;
} */
.b_tn{
    border-radius: 24px;
    padding:6px 16px 6px 16px ;
    background: hsl(159deg 61% 48%);
    color: white;
    border: hsl(159deg 61% 48%);

} 
.text-desc{
    font-family:Public Sans;
    margin-left:135px ;
    margin-top:-20px ;
    
}
.banner{
    display: flex;
    justify-content: space-around ;
}

.section-img{
    margin-top:-500px ;
    margin-left:710px ;
    width: 70%;
   
    
}
.section-img2{
    /* margin-top:-570px ; */
    margin-top: -120vh;
    margin-left:600px ;
    width: 70%;
    position: absolute;
    z-index: 2;
    
}
.title-title{
    font-size: 50px;
    margin-left:135px ;
    margin-top:200px ;
}
.secondbtn{
    border-radius: 24px;
    padding:12px 16px 12px 16px ;
    background: hsl(159deg 61% 48%);
    color: white;
    border: hsl(159deg 61% 48%);
    margin: 20px 140px ;
}




