body{
    width: 100%;
    margin-top: 0;
    Font-size: 18px;
    font-weight: 300, 400, 700;
    /* position:absolute ; */
    font-family:public sans;
    background: hsl(0, 0%, 98%);
    overflow-x: hidden;
     
}
.container {
    width: 100%;
}

.heading{
    width: 100%;
    margin-top: 0;
    height: 50px;
    background: white;
    border-bottom: 1px solid grey;
    position: relative;
    z-index: 3;
    

}
.logo{
    margin:16px 0 16px 120px;
}
.links li a{
    text-decoration: none;
    color: hsl(220deg 2% 62%);

}
.links li a:hover{
    text-decoration: underline;
    color: lightgreen;

}
.links li{
    list-style: none;
    display: inline;
    margin: 0 10px 0 10px;
    color: hsl(220deg 2% 62%);
}
.linking{
    margin: -60px 0 0 450px;
}
.link_ing{
    float:right;
    margin: -42px 220px 0 0;
}
.b_tn{
    border-radius: 24px;
    padding:6px 16px 6px 16px ;
    background: hsl(159deg 61% 48%);
    color: white;
    border: hsl(159deg 61% 48%);

} 
.text-desc{
    font-family:Public Sans;
    margin-left:135px ;
    margin-top:-20px ;
    
}
.banner{
    display: flex;
    justify-content: space-around ;
}

.section-img{
    margin-top:-800px ;
    margin-left:500px ;
    width: 95%;
    z-index: 2;

   
    
}
.section-img2{
    /* margin-top:-570px ; */
    margin-top: -120vh;
    margin-left:600px ;
    width: 70%;
    position: absolute;
    z-index: 2;

    
}
.title-title{
    font-size: 50px;
    margin-left:135px ;
    margin-top:200px ;
}


.secondbtn{
    border-radius: 24px;
    padding:12px 16px 12px 16px ;
    background: hsl(159deg 61% 48%);
    color: white;
    border: hsl(159deg 61% 48%);
    margin: 20px 140px ;
}
.container--list{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 300px;
    margin: 48px 100px;
    
}
.cont-img{
    position: relative;
    padding-bottom: 22px;
    left: 0px;
    justify-content: right;
}
.content-title{
    justify-content: left;
    font-size: 20px;
    color: rgb(104, 103, 103);
    margin-top:0px ;
}
.cont-desc{
    color: rgb(119, 117, 117);
    font-size: 14px;
    margin-top:-20px ;
    justify-content: left;
}
.why{
    position: relative;
    left: 110px;
    top: 270px;
    color: rgb(29, 28, 28);

}
.sect{
    background:#8080802b;

}
.why-desc{
    position: relative;
    left: 110px;
    top: 270px;
    color:rgb(90, 89, 89) ;

}
.article-card{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 380px;
    margin: 90px;
}
.desc{
    position: relative;
    top: 390px;
    margin: 90px;

}
.card-img{
    width: 250px;
    padding: 0px;

}
.card{
    background: #fff;
    border-radius: 8px;
    border: 2px solid #0000000f;
    margin: 0px 0px;
}
.card-title{
    position: relative;
    top: 11px;
}
.card-topic{
    font-size: 18px;
    color: #0a0a18;
}
.card-desc{
    margin-top: -22px;
    font-size: 16px;
    color: #6464859e;
}
.foot{
    position: relative;
    top: 300px;
}
.icons{
    background:black;
}